/* ============================== VARIABLES ============================== */
/* ============================== COLORS ============================== */
/* @teal: rbg(20,71,52); */
/* @black-transp: rgba(0, 0, 0, 0.4);
@charcoal: #333333;  
@medgrey: #717D8C;
@ltgrey: #EEEEEE;
@ltstgrey: #FCFCFC; */
/* ============================== FONTS ============================== */
/* ============================== MIXINS ============================== */
.header-links a {
  color: #ffffff;
  background-color: #144734;
  font-size: .875em;
  text-decoration: none;
}
.header-links a:hover {
  color: #ffffff;
  background-color: #144734;
  /*       border: 0; */
  outline: 1px dotted #ffffff;
  text-decoration: none;
}
.header-links a:visited {
  color: #ffffff;
  background-color: #144734;
  text-decoration: none;
}
.header-links a:active {
  color: #ffffff;
  background-color: #144734;
  text-decoration: none;
}
.header-links a:focus {
  color: #ffffff;
  outline: 1px dotted #ffffff;
  text-decoration: none;
}
.body-links a {
  color: #144734;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
}
.body-links a:hover {
  color: rbg(118, 37, 61);
  outline: 1px dotted rbg(118, 37, 61);
  text-decoration: none;
}
.body-links a:visited {
  color: #144734;
  text-decoration: none;
}
.body-links a:active {
  color: rbg(118, 37, 61);
  text-decoration: none;
}
.body-links a:focus {
  color: rbg(118, 37, 61);
  outline: 1px dotted rbg(118, 37, 61);
  text-decoration: none;
}
.button-links a {
  color: #ffffff;
  text-decoration: none;
}
.button-links a:hover {
  color: #ffffff;
  background-color: rbg(118, 37, 61);
  outline: 1px dotted #ffffff;
  text-decoration: none;
}
.button-links a:visited {
  color: #ffffff;
  text-decoration: none;
}
.button-links a:active {
  color: #ffffff;
  text-decoration: none;
}
.button-links a:focus {
  color: #ffffff;
  background-color: rbg(118, 37, 61);
  outline: 1px dotted #ffffff;
  text-decoration: none;
}
.footer-links a {
  color: #ffffff;
  background-color: #144734;
  text-decoration: none;
}
.footer-links a:hover {
  color: #ffffff;
  background-color: #144734;
  outline: 1px dotted #ffffff;
  text-decoration: none;
}
.footer-links a:visited {
  color: #ffffff;
  background-color: #144734;
  text-decoration: none;
}
.footer-links a:active {
  color: #ffffff;
  background-color: #144734;
  /*       border: 0; */
  text-decoration: none;
}
.footer-links a:focus {
  color: #ffffff;
  background-color: #144734;
  outline: 1px dotted #ffffff;
  text-decoration: none;
}
.footer-links a i {
  font-size: 1.5em;
}
.footer-links a img {
  width: 80%;
}
/* ============================== GLOBAL ELEMENT STYLES ============================== */
body {
  font-family: 'Lato', sans-serif;
  /*   background-color: @ltgrey; */
  background-color: #ffffff;
}
body .container-fluid {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
}
button,
.btn,
.btn-primary,
.btn-block {
  font-size: 1.35em;
  font-weight: bold;
  background-color: #144734;
  border-radius: 0;
}
button a,
.btn a,
.btn-primary a,
.btn-block a {
  color: #ffffff;
  text-decoration: none;
}
button a:hover,
.btn a:hover,
.btn-primary a:hover,
.btn-block a:hover {
  color: #ffffff;
  background-color: rbg(118, 37, 61);
  outline: 1px dotted #ffffff;
  text-decoration: none;
}
button a:visited,
.btn a:visited,
.btn-primary a:visited,
.btn-block a:visited {
  color: #ffffff;
  text-decoration: none;
}
button a:active,
.btn a:active,
.btn-primary a:active,
.btn-block a:active {
  color: #ffffff;
  text-decoration: none;
}
button a:focus,
.btn a:focus,
.btn-primary a:focus,
.btn-block a:focus {
  color: #ffffff;
  background-color: rbg(118, 37, 61);
  outline: 1px dotted #ffffff;
  text-decoration: none;
}
button:hover,
.btn:hover,
.btn-primary:hover,
.btn-block:hover {
  color: #ffffff;
  background-color: rbg(118, 37, 61);
  text-decoration: none;
}
button:visited,
.btn:visited,
.btn-primary:visited,
.btn-block:visited {
  color: #ffffff;
  background-color: rbg(118, 37, 61);
  text-decoration: none;
}
button:active,
.btn:active,
.btn-primary:active,
.btn-block:active {
  color: #ffffff;
  background-color: rbg(118, 37, 61);
  text-decoration: none;
}
button:focus,
.btn:focus,
.btn-primary:focus,
.btn-block:focus {
  color: #ffffff;
  outline: 2px solid #ffffff;
  background-color: rbg(118, 37, 61);
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alegreya', serif;
  font-weight: 700;
  text-align: center;
}
p,
li {
  font-size: 1.2em;
  line-height: 1.5em;
}
p a,
li a {
  color: #144734;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
}
p a:hover,
li a:hover {
  color: rbg(118, 37, 61);
  outline: 1px dotted rbg(118, 37, 61);
  text-decoration: none;
}
p a:visited,
li a:visited {
  color: #144734;
  text-decoration: none;
}
p a:active,
li a:active {
  color: rbg(118, 37, 61);
  text-decoration: none;
}
p a:focus,
li a:focus {
  color: rbg(118, 37, 61);
  outline: 1px dotted rbg(118, 37, 61);
  text-decoration: none;
}
p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
a {
  cursor: pointer;
}
ul,
li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
/* ============================== GLOBAL CLASS STYLES ============================== */
.bold {
  font-weight: bold;
}
.row {
  padding: 2% 0;
}
/* =================== SPACING / ALIGNMENT CLASS STYLES =================== */
.btn-margin-btm {
  margin-bottom: .2em;
}
.btn-margin-top-btm {
  margin-top: .2em;
  margin-bottom: .2em;
}
.btn-margin-top {
  margin-top: .2em;
}
.margin-bottom {
  margin-bottom: 2%;
}
.padding-none {
  padding: 0;
}
.centered-text {
  text-align: center;
}
.right-aligned {
  text-align: right;
}
/* =================== IMAGE CLASS STYLES =================== */
.logo-sm {
  width: 60%;
}
.img-lg {
  width: 90%;
}
.img-xl {
  width: 95%;
}
/* ============================== CARD STYLES ============================== */
/* .card {
  background-color: @ltstgrey;
  padding: 3% 2%;
  margin-bottom: 5%;
  text-align: center; 
  -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.75);
  .news-img {
    width: 100%;    
  }
  .last-card {
    margin-bottom: 2%; 
  }
}

.card-img-top {
  width: 50%; 
}

.card-img-top-lg {
  width: 90%; 
} */
/* ============================== MODAL STYLES ============================== */
/* .modal-header {
  color: @white;
  background-color: @maroon;  
  button {
    span {
      .header-links;
    }
  }
}

.modal-body {
  .body-links; 
}

.modal-footer {
  color: @white;
  background-color: @teal;
  .footer-links;  
}

.modal-btn-margin {
  margin-bottom: 5px;
}

.locations {
  img {
    width: 100%;
  }
  .location-list {
    padding-left: 5%;
  }
}


 */
/* ============================== HEADER STYLES ============================== */
/* ============================== NAVBAR STYLES ============================== */
.navbar-other {
  color: #ffffff;
  background-color: #144734;
  font-weight: 600;
  border-radius: 0;
}
.navbar-other .container-fluid {
  width: 100%;
  margin: 0 auto;
  background-color: #144734;
  height: 6rem;
}
.navbar-other .container-fluid .navbar-brand img {
  width: 80%;
}
.navbar-other .container-fluid .nav {
  list-style: none;
  background-color: #144734;
  /*       button {
        .header-links; 
      }
      .dropdown-menu {
        list-style: none;
        padding: 0;
        .li {
          padding: 1% 3%;
           a {
            .header-links;
          }
        }     
      }     */
}
.navbar-other .container-fluid .nav .nav-item {
  padding: 0;
}
.navbar-other .container-fluid .nav .nav-item a {
  color: #ffffff;
  background-color: #144734;
  font-size: .875em;
  text-decoration: none;
}
.navbar-other .container-fluid .nav .nav-item a:hover {
  color: #ffffff;
  background-color: #144734;
  /*       border: 0; */
  outline: 1px dotted #ffffff;
  text-decoration: none;
}
.navbar-other .container-fluid .nav .nav-item a:visited {
  color: #ffffff;
  background-color: #144734;
  text-decoration: none;
}
.navbar-other .container-fluid .nav .nav-item a:active {
  color: #ffffff;
  background-color: #144734;
  text-decoration: none;
}
.navbar-other .container-fluid .nav .nav-item a:focus {
  color: #ffffff;
  outline: 1px dotted #ffffff;
  text-decoration: none;
}
.navbar-other .container-fluid .nav .nav-item button {
  color: #ffffff;
  background-color: #144734;
  border: 0;
  margin-top: 12%;
  font-size: .875em;
}
.navbar-other .container-fluid .nav .nav-item button ul li a a {
  color: #ffffff;
  background-color: #144734;
  font-size: .875em;
  text-decoration: none;
}
.navbar-other .container-fluid .nav .nav-item button ul li a a:hover {
  color: #ffffff;
  background-color: #144734;
  /*       border: 0; */
  outline: 1px dotted #ffffff;
  text-decoration: none;
}
.navbar-other .container-fluid .nav .nav-item button ul li a a:visited {
  color: #ffffff;
  background-color: #144734;
  text-decoration: none;
}
.navbar-other .container-fluid .nav .nav-item button ul li a a:active {
  color: #ffffff;
  background-color: #144734;
  text-decoration: none;
}
.navbar-other .container-fluid .nav .nav-item button ul li a a:focus {
  color: #ffffff;
  outline: 1px dotted #ffffff;
  text-decoration: none;
}
.navbar-other .container-fluid .navbar-header button .navbar-toggle .icon-bar {
  color: #ffffff;
}
/*  ======================== HOME ======================== */
/* .carousel-row {
  margin: -2% -8% 0 -8%;
  padding-bottom: 0;
}

#carouselHome {
  .carousel-inner {
    .item {
      p {
        text-align: center;
        .carousel-img {
          width: 100%;
          margin-bottom: -3%;
        }
      }      
    }  
  } 
}
 */
/* ======================== FOOTER STYLES ======================== */
.footer {
  text-align: left;
}
.footer h4 {
  text-align: left;
  font-size: 1.9em;
}
.footer .footer-index {
  color: #ffffff;
  background-color: #144734;
  font-size: .8em;
  padding-top: 5%;
}
.footer .footer-index img {
  width: 150px;
}
.footer .footer-index .container-fluid {
  background-color: #144734;
}
.footer .footer-index .footer-socials {
  display: inline-block;
  font-size: 1.1em;
  line-height: 1.5em;
}
.footer .footer-index .footer-socials i {
  margin-right: 2em;
}
.footer .footer-index li {
  padding: .2em 0;
}
.footer .footer-index li a {
  color: #ffffff;
  background-color: #144734;
  text-decoration: none;
}
.footer .footer-index li a:hover {
  color: #ffffff;
  background-color: #144734;
  outline: 1px dotted #ffffff;
  text-decoration: none;
}
.footer .footer-index li a:visited {
  color: #ffffff;
  background-color: #144734;
  text-decoration: none;
}
.footer .footer-index li a:active {
  color: #ffffff;
  background-color: #144734;
  /*       border: 0; */
  text-decoration: none;
}
.footer .footer-index li a:focus {
  color: #ffffff;
  background-color: #144734;
  outline: 1px dotted #ffffff;
  text-decoration: none;
}
.footer .footer-index li a i {
  font-size: 1.5em;
}
.footer .footer-index li a img {
  width: 80%;
}
.footer .footer-index p a {
  color: #ffffff;
  background-color: #144734;
  text-decoration: none;
}
.footer .footer-index p a:hover {
  color: #ffffff;
  background-color: #144734;
  outline: 1px dotted #ffffff;
  text-decoration: none;
}
.footer .footer-index p a:visited {
  color: #ffffff;
  background-color: #144734;
  text-decoration: none;
}
.footer .footer-index p a:active {
  color: #ffffff;
  background-color: #144734;
  /*       border: 0; */
  text-decoration: none;
}
.footer .footer-index p a:focus {
  color: #ffffff;
  background-color: #144734;
  outline: 1px dotted #ffffff;
  text-decoration: none;
}
.footer .footer-index p a i {
  font-size: 1.5em;
}
.footer .footer-index p a img {
  width: 80%;
}
.footer .footer-index .address {
  margin-top: 0.3em;
  font-size: 1.3em;
  font-weight: bold;
}
