<div class="row">
  <div class="col-sm-12">
    <h1>Services</h1>
  </div>  <!-- end col -->
</div>  <!-- end row -->

<div class="row">
  <div class="col-sm-12">
    <h2>Financial Services</h2>
    <p>Mission Backers knows what it is like to have to track and process cash with limited staff to manage accountability, track accounts payable, manage accounts receivable, and ensure timely processing of participant vouchers while running monthly accounting statements to ensure appropriate reporting for the Board of Directors, and we can do the same for you!</p>
    <p>Mission Backers uses Financial Edge by Blackbaud which is an accounting software designed with nonprofits in mind. The system offers tools and data required to keep organizations on track and all budget information in one place. Whether preparing financial statements for the board, compiling reports, or providing expense details to leadership, Financial Edge software makes accurate, actionable reports possible.</p>  
    <p>Our certified public account will provide regular consultation with members to make sure questions are answered and concerns are addressed.</p>
  </div>  <!-- end col -->
</div>  <!-- end row -->

<div class="row">
  <div class="col-sm-6">
    <h2>Payroll Services</h2>
    <p>Mission Backers can run payroll for 2 staff, 22 staff or 222 staff!  We are prepared to accommodate your needs.  This includes issuing employee payroll checks and direct deposits, and payment of all payroll taxes.  Our process is smooth, easy and electronic.  Fill out our request for services for a free quote!</p>
     <p><a ui-sref="">######Hyperlink to request for services.</a></p>
  </div> <!-- end col -->
  <div class="col-sm-6">
    <h2>Human Resource Management</h2>
    <p>Every nonprofit needs top talent to help achieve their mission, but finding the time to post, interview, hire, train, evaluate, reward and retain staff is just one more thing on a long list of things to do.  And, as your organization grows, so to does the need for policy and procedures to ensure compliance with federal and state laws.   Mission Backers can help with personnel policies, affirmative action plans, and civil rights compliance regulations.  </p>
  </div> <!-- end col -->
</div>  <!-- end row -->

<div class="row">  
   <div class="col-sm-6">
    <h2>Office Space</h2>
    <p>If you are located in the La Crosse area, and are still working out of your kitchen, or if your lease is soon to be up, and you are looking for an affordable, yet secure office space to operate your non profit, we can help!  Mission Backers has space available at reasonable prices.    </p>
     <p><a ui-sref=""> #####See attached flyer for more information.</a></p>
  </div> <!-- end col -->
  <div class="col-sm-6">
    <h2>Reception Services</h2>
    <p>If you are on site at the East Ward Commerce Center and need access to reception services, mail pickup, copy service and conference room, we can help!</p>
  </div> <!-- end col -->
</div>  <!-- end row -->

<div class="row">  
   <div class="col-sm-12">
     <button type="button" class="btn btn-default">Request an Estimate</button>
<!--      <h2>Request for Estimate</h2> -->
<!--      <p>Sarah—We plan to use a 123 forms document to have people provide information so we can review and give them an estimate.  I need to work with Amy on what that looks like, but it will be a critical piece, and will look something like this: -->
<!-- http://www.123contactform.com/form-2733019/MB-Quote-For-Services</p> -->
    <p><a ui-sref=""></a></p>
  </div> <!-- end col -->
</div>  <!-- end row -->
