<div class="row">
  
  <div class="col-md-4 col-sm-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="./images/staff/Felber.jpg" alt="">
      <div class="card-block">
        <h4 class="card-title">Amy Felber</h4>
        <p class="card-text">
Amy Felber is a Certified Public Accountant who has more than 8 years of combined nonprofit/municipal government finance and accounting experience.  Amy was the Finance Director for WCI from 2010-2013 and most recently Amy held the position of Deputy Director of Finance for the City of La Crosse.  She graduated with honors from Viterbo University with a degree in Accounting and has a Master’s Degree in Nonprofit and Public Administration from the Metropolitan State University in Minneapolis, MN.  Amy is a board member/treasurer for The Good Fight Community Center, Inc. (GFCC) which is a teen center in La Crosse serving at-risk youth through mentorship programs including an ACT preparation course and a boxing program which helps kids stay healthy and focused on striving to meet their personal goals.</p>
<!--         <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>  <!-- end col -->
  
  <div class="col-md-4 col-sm-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="./images/staff/Pierce.jpg" alt="">
      <div class="card-block">
        <h4 class="card-title">Teresa Pierce</h4>
        <p class="card-text">Teresa Pierce has served as the Executive Director of Workforce Connections, Inc. since Sept of 2012, and prior to that, she was the organization’s Director of Operations providing leadership, accountability, project management and program direction for numerous programs in thirteen counties for fifteen years.  She is well versed in employment and training practices including welfare reform, job training, workforce development, strategic endeavors, and intergenerational human resource practices and trends.  As a leader in non-profit development, Teresa holds a Masters’ Degree in Business Administration from Viterbo College; and is a past member of the Monroe County Board of Supervisors.  Her family owns and operates a farm in northern Monroe County.</p>
<!--         <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>  <!-- end col -->
  
  <div class="col-md-4 col-sm-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="./images/staff/Amundson.jpg" alt="">
      <div class="card-block">
        <h4 class="card-title">Pamela Amundson</h4>
        <p class="card-text">Pamela Amundson has over 25 years of financial experience.  She graduated from Western Technical College in 2004 with Associate of Applied Science Degrees in Accounting, Graphic Design and Marketing.  Pamela has been at Workforce Connections, Inc. since October 2008 and is responsible for cash management, monthly financial statements, month-end close, accounts receivable and accounts payable.  She is proficient in Financial Edge Software and her attention to detail has been essential to WCI receiving no finding unqualified audits each year.</p>
<!--         <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>  <!-- end col -->  
  
</div>  <!-- end row -->
