<div class="row">
  
  <div class="col-sm-6">
    <blockquote class="blockquote">
      <p class="mb-0">“Their excellent customer service and their commitment to accuracy and timeliness have been appreciated.  When we request reports they are quick to respond and we’ve been able to trust them.  They are quick to respond and we’ve been able to trust them.  We appreciate them because we know they embrace the vision and mission of economic and community development for all.”</p>
      <footer class="blockquote-footer">Ann Wales, <cite title="Source Title">Diversity Council President</cite></footer>
    </blockquote>
  </div>  <!-- end col -->
  
  <div class="col-sm-6">
    <blockquote class="blockquote">
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">Name, <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>  <!-- end col -->
  
</div>  <!-- end row -->
