<!-- FOOTER -->

<div class="footer">
  <div class="footer-index">
    <div class="container-fluid bottom footer-cols">
      <div class="row">  
        <div class="col-md-3 col-sm-6">
          <h4>Company</h4>
          <ul>
            <li class="nav-item"><a ui-sref="about">About</a></li>                  
            <li class="nav-item"><a ui-sref="staff">Our Staff</a></li>         
            <li class="nav-item"><a ui-sref="volunteer">Volunteer</a></li>        
            <li class="nav-item"><a ui-sref="testimonials">Testimonials</a></li>            
            <li><a ui-sref="sitemap" title="">Site Map</a></li>
          </ul>   
        </div>  <!-- end col -->
        
        <div class="col-md-3 col-sm-6">
          <h4>Services</h4>
          <ul>
            <li class="nav-item"><a ui-sref="">Service 1</a></li>            
            <li class="nav-item"><a ui-sref="">Service 2</a></li>              
            <li class="nav-item"><a ui-sref="">Service 3</a></li>         
            <li class="nav-item"><a ui-sref="">Service 4</a></li>   
          </ul>
        </div>  <!-- end col -->
        
        <div class="col-md-3 col-sm-6">
          <h4>Contact Us</h4>
          <ul>
            <li class="footer-socials"><a href="" title="" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
            <li class="footer-socials"><a href="" title="" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="tel:+1-" title=""> <i class="fa fa-phone-square"></i> </a></li>            
            <li><a href="mailto:" title="Send an email to "><i class="fa fa-envelope"></i> Email Us</a></li>
            <li class="address">2615 East Avenue South, Suite 103 <br /> La Crosse, WI 54601 </li>
          </ul>    
        </div>  <!-- end col -->
        
        <div class="col-md-3 col-sm-6">
          <h4>Staff Links</h4>
          <ul>
            <li><a href="http://outlook.office365.com/" title="Open staff email login screen in new tab" target="_blank">Staff Email</a></li>
            <li><a href="http://wciweb.workforceconnections.org/WebPortal/LogIn.aspx?ReturnUrl=%2fwebportal%2fdefault.aspx" title="Open the Workforce Connections Inc Portal in new tab" target="_blank">WCI Portal</a></li>
            <li><a href="https://www.workforceconnections.org/intranet/StaffForms.html" title="Open Workforce Connections staff forms in new tab" target="_blank">Staff Forms</a></li>
          </ul>
        </div>  <!-- end col -->        
      </div>  <!-- end row -->
      
      <div class="row">
        <div class="col-sm-6">
          <p></p>
        </div>  <!-- end col -->
        <div class="col-sm-6">
          <p></p>
        </div>  <!-- end col -->
      </div> <!-- end row -->
      
      <div class="row">
        <div class="col-sm-6">          
        </div>  <!-- end col -->
        <div class="col-sm-6">           
        </div>  <!-- end col -->
      </div> <!-- end row -->
        
    </div>  <!-- end container -->
  </div>  <!-- end footer-index  -->
</div>  <!-- end footer -->
