<!--
<div id="skip">
  <a href="#content">Skip to Main Content</a>
</div>
-->

<nav class="navbar-other">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home" title="Go to Mission Backers home page">
        <img class="logo" src="./images/logos/MissionBackersLogo.jpg" alt="" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">        

        <li class="nav-item"><a ui-sref="about">About</a></li>            
        <li class="nav-item"><a ui-sref="services">Services</a></li>              
        <li class="nav-item"><a ui-sref="staff">Our Staff</a></li>         
        <li class="nav-item"><a ui-sref="volunteer">Volunteer</a></li>        
        <li class="nav-item"><a ui-sref="testimonials">Testimonials</a></li>
        <li class="nav-item"><a ui-sref="contact">Contact Us</a></li>

        <li class="nav-item"><a ui-sref="news">News</a></li>        
        <li class="nav-item"><a ui-sref="careers">Careers</a></li>
        <li class="nav-item"><a ui-sref="request-services">Request Services</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>



<!--
<nav class="navbar-other">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home" title="Go to Mission Backers home page">
        <img class="logo" src="./images/logos/MissionBackersLogo.jpg" alt="" />
      </a>
    </div>


    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">       
        <li class="nav-item"><a ui-sref="about">About</a></li>            
        <li class="nav-item"><a ui-sref="services">Services</a></li>              
        <li class="nav-item"><a ui-sref="staff">Our Staff</a></li>         
        <li class="nav-item"><a ui-sref="volunteer">Volunteer</a></li>        
        <li class="nav-item"><a ui-sref="testimonials">Testimonials</a></li>
        <li class="nav-item"><a ui-sref="contact">Contact Us</a></li>
      </ul>
    </div>
</nav>

-->
