<div id="skip">
  <a href="#content">Skip to Main Content</a>
</div>

<nav class="navbar-other">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home" title="Mission Backers Home">
        <img class="logo" src="./images/logos/wci-logo-white.png" alt="" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <button id="aboutUsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About Us
              <span class="caret"></span>
          </button>  <!-- class="nav-link dropdown-toggle"  -->
          <ul class="dropdown-menu" aria-labelledby="aboutUsDropdown">             
            <li><a class="dropdown-item" ui-sref="">A word from our Executive Director</a></li>
            <li><a class="dropdown-item" ui-sref="">Mission, Vision &amp; Values</a></li>
            <li><a class="dropdown-item" ui-sref="">Corporate History</a></li>
            <li><a class="dropdown-item" ui-sref="">Locations</a></li>
            <li><a class="dropdown-item" ui-sref="">Staff</a></li>            
            <li><a class="dropdown-item" ui-sref="">Board of Directors</a></li>
            <li><a class="dropdown-item" ui-sref="">Annual Reports</a></li>
            <li><a class="dropdown-item" ui-sref="">Impact Stories</a> </li>            
            <li><a class="dropdown-item" ui-sref="">Volunteer</a></li>           
          </ul>
        </li> <!-- end about us dropdown -->           
        <li class="nav-item"><a ui-sref="">Business Solutions</a></li>            
        <li class="nav-item"><a ui-sref="">Job Seeker Services</a></li>              
        <li class="nav-item"><a ui-sref="">Resources</a></li> 
        <li class="nav-item dropdown">
          <button id="programDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Programs
            <span class="caret"></span>
          </button>  <!-- class="nav-link dropdown-toggle"  -->
          <ul class="dropdown-menu" aria-labelledby="programDropdown">
            <li><a class="dropdown-item" ui-sref="">Healthcare</a></li>
            <li><a class="dropdown-item"ui-sref="">Children First</a></li>
            <li><a class="dropdown-item" ui-sref="">Emergency Assistance</a></li> 
            <li><a class="dropdown-item" ui-sref="">FoodShare Employment &amp; Training</a></li>                    
            <li><a class="dropdown-item" ui-sref="-grandparents">Foster Grandparents</a></li>
            <li><a class="dropdown-item" ui-sref="">Windows to Work</a></li>
            <li>
              <a class="dropdown-item" ui-sref="">WIOA (Workforce Innovation &amp; Opportunity Act)</a>
            </li>
            <li><a class="dropdown-item" ui-sref="">Wisconsin Works (W2)</a></li>
            <li><a class="dropdown-item" ui-sref="">WISE Program</a></li>   
          </ul>
        </li>   <!-- end program dropdown -->   
        <li class="nav-item"><a ui-sref="">News</a></li>        
        <li class="nav-item"><a ui-sref="">Careers</a></li>
        <li class="nav-item"><a ui-sref="">Request Services</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>
